/*GLOBAL RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%;  vertical-align:baseline; background:transparent;}        
 article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {  display:block;}ul, ol { list-style:none; }
blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { /*border-bottom:1px dotted;*/ cursor:help; } table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ul, ol { /*margin-left: 1.8em;*/ } ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; }  small { font-size: 85%; } strong, th { font-weight: bold; } td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; } sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; } pre, code { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */}
input, select { vertical-align:middle; } .ie6 input { vertical-align: text-bottom; } textarea { overflow: auto; } input[type="radio"] { vertical-align: text-bottom; } input[type="checkbox"] { vertical-align: bottom; } .ie7 input[type="checkbox"] { vertical-align: baseline; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid {      border-radius: 1px;   -moz-box-shadow: 0px 0px 5px red;  -webkit-box-shadow: 0px 0px 5px red;    box-shadow: 0px 0px 5px red;}
.ie7 img { -ms-interpolation-mode: bicubic; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;  } .clearfix:after { clear: both; } .clearfix { zoom: 1; }
img {border:0; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } a:link , a:hover , a:visited{text-decoration:none;outline: none;  } a:link { -webkit-tap-highlight-color: none; } 

h1, h2, h3, h4, h5, h6, { font-weight:normal;  display:inline; font-size:100%; text-decoration:none;} 


body{display:flex; margin: auto; flex-direction: column; box-sizing: border-box;}

.grid{position: relative; display: flex; flex-direction: column;} .row{width: 100%;}
/* ------------------------- GLOBAL STYLE ------------------------------------*/

header {
	height: 70px;
	width: 90%;
	margin: 0 auto;	
}
header h2 {
	display: inline-block;
	/* untuk membatasi border yang panjang menjadi lebih rapih */

	float: left;
	/* float disini maksudnya di variabel h1 kita pindahkan kesebelah kiri */

	padding: 21px 20px;
	/*  padding 21px atas bawah sedangkan 20px kiri kanan */

	text-transform: uppercase;
	/* agar h1 huruf kapital semua */
}
header h2 a:hover{
	color: blueviolet;
}

header ul li{

	display: inline-block;
	/* membatasi border yang panjang menjadi lebih rapih */
	/* dan yang tadinya menurun menjadi mendatar */

	padding: 25px 20px;
	list-style: none;
	/* agar tidak ada titik disebelah huruf listnya makanya pakai none */
}
header ul li a:hover{
	color: blueviolet;
}
header ul li a{
	transition: .5s;
}
header a{
	text-decoration: none;
}
/* agar navbar tidak mendempet kesebelah kiri dan kanan */
.container {
	display: flex;
	justify-content: space-between;
}

/* membuat tampilan mobile */
.mobile-menu{
	display: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
	cursor: pointer;
}

/* #cek{
	display: none;
} */

/* jika class cek di cek maka tampilan sidebar akan kembali ke 0 */
/* #cek:checked ~ .sidebar{
	left: 0;
	transition: 1.9s;
} */
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;

	/* agar sidebar berwarna bisa di cek di https://htmlcolorcodes.com dan .9 adalah opacity keterangan warna */
	background: rgba(174, 241, 128, .9);
	transition: .9s;
	width: 50%;
}
.sidebar ul{
	display: flex;
	flex-direction:column;
	width: 100%;
}
.sidebar ul li a{
	color: whitesmoke;
}
.sidebar ul li{
	padding: 24px;
	border: 1px solid whitesmoke;
	transition: .5s;
	transition-property: background-color;
}
.sidebar ul li:hover{
	background-color: blueviolet;
	transition: .6s;
}

@media only screen and (max-width: 768px) {
	header{width: 100%;}
	.container #mobile{display: none;}

	.mobile-menu{display: flex;}
  }


.banner {
 	background: url("https://wallpaperaccess.com/full/279563.jpg") center -270px;
	background-size: cover;
 	background-repeat: no-repeat;
 }
 .content {
 	padding: 100px 80px;
 	background: rgba(0, 0, 0, 0.5);
 	display: flex;
 	flex-direction: column;
 }
.banner img {
	width: 200px;
	height: 200px;
	border-radius: 5px 5px;
	margin-bottom: 20px;

}
.banner h2, .banner p {
	color: whitesmoke;
	font-size: 20px;
}

@media only screen and (max-width: 768px) {
	.banner{width: auto; height: auto; background-position: center;}
	.content{height: auto; padding: 50px;}
	.banner img {width: 150px; height: 150px;}
	}
.about{
	padding: 25px;
}
.about h2 {
	text-align: center;
}
.about p {
	padding: 10px;
	text-align: center;
}
.konten {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.konten h2{
	font-size: 25px;
}
.garis {
	width: 150px;
	height: 4px;
	background-color: #a43f49;
	margin: 10px auto;
}
.skills1 {
	padding: 20px;

}
.konten1 {
	display: flex;
	flex-direction: row;
	padding: 20px 50px;
}
.box {
	border: 1px solid;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 0;
}
.box i, .box h3, .box p, .box span{
	text-align: center;
	padding: 5px;
}
@media only screen and (max-width: 768px) {
	.konten1{display: flex; flex-direction: column; padding: 10px;}
	}
.skill {
	padding: 10px;
	background: url('https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg	');
	background-size: cover;
}
.skill h2{
	text-align: center;
	color: whitesmoke;
}
.skill p {
	padding: 10px;
	text-align: center;
	color: whitesmoke;
}

.thumbnail{
	padding: 20px;
    display: flex;
    min-height: 250px;
	background: url('https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?size=626&ext=jpg	');
	background-size: cover;
}
	.thumbnail .list{ 
		height: auto;
		text-align: center;
		margin: 20px;
		padding: 20px;
		width: 20%;
		box-sizing: border-box;
		background: rgba(249, 246, 238, 0.4);
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}
	.thumbnail .list .circle{
		background: #fff;
		height: 0;
		width: 100%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		display: flex;
		text-align: center;
		padding: 50% 0;
		border: 8px solid #000;
		position: relative;
		left: -8px;
	}
	 .thumbnail .list .circle p{
		 margin: auto;
		 font-size: 25px;
	 }

	 .thumbnail .list h3{
		 color:#000;
		 padding: 20px 0;
	}

	@media only screen and (max-width: 912px) {

		.thumbnail{
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 10%;
		}

		.thumbnail .list{
			width: 40%; 
		}

		.thumbnail .list .circle p{
			margin: auto;
		}
	}

@media only screen and (max-width: 500px) {

		.thumbnail{
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 5%;
		}

		.thumbnail .list{
			width: 40%; 
			padding: 15px;
			margin: 15px;
		}
		.thumbnail .list .circle{
			border: 5px solid;
			left: -5px;
		}
		.thumbnail .list .circle p{
			margin: auto;
			font-size: 20px;
		}
	}





/* ni yg lingkaran gaes */
/* presentase */
/* .konten2 {
	border: 1px solid;
	display: flex;
	flex-direction: row;
	padding: 10px;
}
.wrapper{
	padding: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.wrapper .card{
	width: calc(33%-20px);
	background: blueviolet;
	height: 300px;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.wrapper .card .lingkaran{
	position: relative;
	padding: 20px;
	height: 150px;
	width: 150px;
	border: 8px solid;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	cursor: pointer;
}

.card .lingkaran:hover .box1{
	transform: translate(-50%, -50%) scale(1.02);
}


.card .lingkaran .box1,
.card .lingkaran .box1 span{
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all 0.1s;
}
.card .lingkaran .box1{
	height: 100%;
	width: 100%;
	background: whitesmoke;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.card .lingkaran .box1 span{
	transform: translate(-50%, -50%);
	font-size: 30px;
}
@media only screen and (max-width: 768px) {
	.konten2{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	} */
/* ampe akhir lingkaran */



/* Riwayat Pendidikan */
#ripen{
	padding: 15px;
}
#ripen h2{
	text-align: center;
}
.SMA{
	padding: 5px;
	margin: 10px;
	border: 1px solid;
	border-radius: 3px;
	color: #333333;
	width: 98%;
	cursor: pointer;
	background-color: #C8CFD1;
}
.SMA p{
	padding: 10px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
.SMA i{
	float: right;
	font-size: 15px;
}
.SMP{
	padding: 5px;
	margin: 10px;
	border: 1px solid;
	border-radius: 3px;
	color: #333333;
	width: 98%;
	background-color: #7D91DD;
	cursor: pointer;
}
.SMP p{
	padding: 10px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
.SMP i{
	float: right;
	font-size: 15px;
}
.SD{
	padding: 5px;
	margin: 10px;
	border: 1px solid;
	border-radius: 3px;
	color: #333333;
	width: 98%;
	background-color: #EB7777;
	cursor: pointer;
}
.SD p{
	padding: 10px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
.SD i{
	float: right;
	font-size: 15px;
}

.keluar {
	border: 1px solid;
	padding: 5px;
	margin: 10px;
	width: 98%;
}
.keluar p{
	padding: 10px 20px;
	letter-spacing: 4px;
	text-align: center;
	font-size: 15px;
}

#dropDown-1 .col{margin: 0 10px;}
	#dropDown-1 .keluar{display: none;}
#dropDown-2 .col{margin: 0 10px;}
	#dropDown-2 .keluar{display: none;}
#dropDown-3 .col{margin: 0 10px;}
	#dropDown-3 .keluar{display: none;}


@media only screen and (max-width: 768px) {
	.SMA {
		width: 92%;
	}
	.keluar{
		width: 92%;
	}
	.SMP {
		width: 92%;
	}
	.SD {
		width: 92%;
	}
}


.konten4 {
	padding: 30px;
	margin: 10px;
}
.konten4 h2{
	font-size: 25px;
	text-align: center;
}
.kotak{
	display: flex;
	flex-direction: row;
	padding: 20px;
	margin: 10px;
	background: #D1E3D5;
	background: rgba(227, 222, 209, 0.4);
}
.kotak .gambar img{
	height: 200px;
	width: 200px;
	box-sizing: border-box;
}
.kotak .deskripsi{
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 9px;
	background: whitesmoke;
	width: 100%;

}
.deskripsi h1{
	font-size: 20px;
	padding: 10px;
}
.deskripsi p{
	font-size:  18px;
	padding: 10px;
	letter-spacing: 2px;
}
@media only screen and (max-width: 768px){
	.konten4{
		padding: 20px;
		margin: 0;
	}
	.kotak{
		display: flex;
		flex-direction: column;
	}
	.kotak .gambar{
		text-align: center;
		padding-bottom: 20px;
	}
	.kotak .gambar img{
		width: 300px;
		height: 300px;
	}
	.kotak .deskripsi{
		padding: 0;
		margin: 0;
	}
}

.konten5{
	padding: 10px;
	margin: 0;
	background: url('https://p0.pikist.com/photos/414/423/cloud-dark-storm-background-beautiful-air-environmental-outdoor-rain.jpg');
	background-size: cover;
}
.konten5 h3{
	text-align: center;
	font-size: 25px;
}
.bungkus{
	display: flex;
	flex-direction: row;
	padding: 5px;
}
.bungkus i, .bungkus p, .bungkus span{
	text-align: center;
	padding: 5px;
}
.bungkus .kontak{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid;
	width: 100%;
}
@media only screen and (max-width: 768px){
	.bungkus{
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
	.bungkus .kontak{
		padding: 10px;
		width: 95%;
	}
}
footer {
	background: url('https://p0.pikist.com/photos/414/423/cloud-dark-storm-background-beautiful-air-environmental-outdoor-rain.jpg');
	background-size: cover;
	display: flex;
	padding: 10px;
	justify-content: center;
	border: 1px solid;
}
.kotakfooter{
	display: flex;
	padding: 15px;
}
html{
	scroll-behavior: smooth;
}